@font-face {
    font-family: Windsor;
    src: url(../font/windsor/windsor.otf);
}

body,
html,
a {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    font-family: Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
}

h1,
#quotes {
    font-family: Windsor;
}

h1,
p {
    margin-inline-start: 8px;
}

p {
    font-size: 14px;
}

button {
    padding: 4px;
    border-radius: 4px;
    border-color: transparent;
    background: #2b2b2b;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dt-buttons {
    padding: 8px;
    float: left;
}

div[role=menu] {
    max-width: 800px;
    margin-bottom: 5px;
}

div[role=menu]>button {
    color: rgba(255, 255, 255, 0.5);
}

div[role=menu]>button.active {
    background: #28a745;
    color: #fff;
}

button:hover,
div[role=menu]>button:hover,
div[role=menu]>button.active:hover {
    background: #fff;
    color: #28a745;
}

button.close:hover {
    background: #000;
    color: #fecc00;
}

.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

#table,
#table_wrapper {
    max-width: 900px;
}

tbody>tr>td>p a {
    background-color: rgba(25, 25, 25, 1);
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

table.dataTable td.details:before {
    content: "\f055";
    font-family: FontAwesome;
    color: #fff;
}

table.dataTable td.details:before,
td.noVis {
    cursor: pointer;
}

table.dataTable tr.shown td.details:before {
    content: "\f056";
    color: #fff;
}

table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
    background-color: transparent;
}

table.DTFC_Cloned tr,
.DTFC_RightHeadWrapper,
.DTFC_RightBodyWrapper {
    background-color: rgba(25, 25, 25, 1);
}

.DTFC_RightHeadWrapper,
.DTFC_RightBodyWrapper {
    border-left: 2px solid rgba(100, 100, 100, 1);
}

/* Hide first row scroll icons */
.dataTables_scrollBody thead {
    visibility: hidden;
}

.dataTables_scroll,
.dataTables_scrollBody {
    background-color: rgba(25, 25, 25, .8);
    margin-bottom: 32px;
}

#summaryTable {
    max-width: 482px;
}

#summary {
    white-space: normal;
    position: relative;
}

.video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.video-thumbnail:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 70px;
    color: #fff;
    opacity: 0.8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.video-thumbnail:hover:before {
    color: #eee;
}

.modal-dialog {
    max-width: 1000px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}

@media screen and (max-width:767px) {

    #detailsTable,
    #summaryTable {
        width: 100%;
        table-layout: fixed;
    }

    #detailsTable>tbody>tr>td>div>img {
        width: 100%;
    }
}

@media (min-width:768px) {
    #containerTable {
        display: table;
        width: 100%;
    }

    #containerTable>div {
        display: table-cell;
    }

    p {
        margin-inline-end: 8px;
    }

    th,
    td {
        white-space: nowrap;
    }

    tbody>tr>td>p,
    .td_picture {
        width: 225px;
    }

    tbody>tr>td>p {
        white-space: normal;
    }

    #quotes {
        padding: 0 50px 0 50px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }

    #quotes>p {
        font-size: 18px;
    }

    #movieandyear {
        display: block;
        text-align: right;
        margin: 20px 8px 0 0;
        font-style: italic;
        font-weight: normal;
    }
}

#credits {
    background-color: black;
    position: fixed;
    padding: 8px;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-newspaper:before {
    content: "\f1ea";
}

.fa-users:before {
    content: "\f0c0";
}

.fa-equals:before {
    content: "\f52c";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.fab {
    font-family: "Helvetica";
}

.far {
    font-family: "Helvetica";
    font-weight: 400;
}

.fa,
.fas {
    font-family: "Helvetica";
    font-weight: 900;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: 700;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 18px 6px;
    border-top: 1px solid #111;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    cursor: pointer;
    *cursor: hand;
    font-family: FontAwesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    color: #3d3d3d;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    color: white;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    color: white;
}

table.dataTable thead .sorting_asc_disabled:after {
    content: "\f0de";
    color: #3d3d3d;
}

table.dataTable thead .sorting_desc_disabled:after {
    content: "\f0dd";
    color: #3d3d3d;
}

table.dataTable tbody tr {
    background-color: #fff;
}

table.dataTable tbody tr.selected {
    background-color: #b0bed9;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #ddd;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
    border-top: none;
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
    border-top: none;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9;
}

table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
    background-color: #acbad4;
}

table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
    background-color: #aab7d1;
}

table.dataTable.order-column tbody tr>.sorting_1,
table.dataTable.order-column tbody tr>.sorting_2,
table.dataTable.order-column tbody tr>.sorting_3,
table.dataTable.display tbody tr>.sorting_1,
table.dataTable.display tbody tr>.sorting_2,
table.dataTable.display tbody tr>.sorting_3 {
    background-color: #fafafa;
}

table.dataTable.order-column tbody tr.selected>.sorting_1,
table.dataTable.order-column tbody tr.selected>.sorting_2,
table.dataTable.order-column tbody tr.selected>.sorting_3,
table.dataTable.display tbody tr.selected>.sorting_1,
table.dataTable.display tbody tr.selected>.sorting_2,
table.dataTable.display tbody tr.selected>.sorting_3 {
    background-color: #acbad5;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_2 {
    background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_3 {
    background-color: #f5f5f5;
}

table.dataTable.display tbody tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1 {
    background-color: #a6b4cd;
}

table.dataTable.display tbody tr.odd.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2 {
    background-color: #a8b5cf;
}

table.dataTable.display tbody tr.odd.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3 {
    background-color: #a9b7d1;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #fafafa;
}

table.dataTable.display tbody tr.even>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even>.sorting_2 {
    background-color: #fcfcfc;
}

table.dataTable.display tbody tr.even>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even>.sorting_3 {
    background-color: #fefefe;
}

table.dataTable.display tbody tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1 {
    background-color: #acbad5;
}

table.dataTable.display tbody tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2 {
    background-color: #aebcd6;
}

table.dataTable.display tbody tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3 {
    background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover>.sorting_2 {
    background-color: #ececec;
}

table.dataTable.display tbody tr:hover>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover>.sorting_3 {
    background-color: #efefef;
}

table.dataTable.display tbody tr:hover.selected>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1 {
    background-color: #a2aec7;
}

table.dataTable.display tbody tr:hover.selected>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2 {
    background-color: #a3b0c9;
}

table.dataTable.display tbody tr:hover.selected>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3 {
    background-color: #a5b2cb;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #111;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
    padding: 4px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 4px;
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
    text-align: left;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
    text-align: center;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
    text-align: right;
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
    text-align: justify;
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
    text-align: left;
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
    text-align: center;
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
    text-align: right;
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
    text-align: justify;
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
    text-align: left;
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
    text-align: center;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
    text-align: right;
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
    text-align: justify;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
    box-sizing: content-box;
}

.dataTables_wrapper {
    border-radius: 5px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 5px;
    margin-left: .5em;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: .755em;
}

.dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
    padding-top: .25em;
}

.dataTables_wrapper .dataTables_credits {
    float: right;
    text-align: right;
    padding-top: .755em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: 0 0;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, .9)), color-stop(75%, rgba(255, 255, 255, .9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_credits {
    color: #333;
}

.dataTables_wrapper .dataTables_scroll {
    clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody>table {
    border-bottom: none;
}

.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

@media screen and (max-width:767px) {
    div.dt-button-collection.four-column {
        width: 80%;
    }

    div.dt-button-collection.fixed.four-column {
        margin-left: -40%;
    }

    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate,
    .dataTables_wrapper .dataTables_credits {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_paginate,
    .dataTables_wrapper .dataTables_credits {
        margin-top: .5em;
    }
}

@media screen and (max-width:640px) {

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: .5em;
    }
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
    cursor: default !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before {
    display: none !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Helvetica";
    line-height: 14px;
    content: "+";
    background-color: #31b131;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: "-";
    background-color: #d33333;
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
    padding-left: 27px;
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    text-indent: 3px;
}

table.dataTable.dtr-column>tbody>tr>td.control,
table.dataTable.dtr-column>tbody>tr>th.control {
    position: relative;
    cursor: pointer;
}

table.dataTable.dtr-column>tbody>tr>td.control:before,
table.dataTable.dtr-column>tbody>tr>th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Helvetica";
    line-height: 14px;
    content: "+";
    background-color: #31b131;
}

table.dataTable.dtr-column>tbody>tr.parent td.control:before,
table.dataTable.dtr-column>tbody>tr.parent th.control:before {
    content: "-";
    background-color: #d33333;
}

table.dataTable>tbody>tr.child {
    padding: .5em 1em;
}

table.dataTable>tbody>tr.child:hover {
    background: 0 0 !important;
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table.dataTable>tbody>tr.child ul.dtr-details>li {
    border-bottom: 1px solid #efefef;
    padding: .5em 0;
}

table.dataTable>tbody>tr.child ul.dtr-details>li:first-child {
    padding-top: 0;
}

table.dataTable>tbody>tr.child ul.dtr-details>li:last-child {
    border-bottom: none;
}

table.dataTable>tbody>tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: 700;
}

div.dtr-modal {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 10em 1em;
}

div.dtr-modal div.dtr-modal-display {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    z-index: 102;
    overflow: auto;
    background-color: #f5f5f7;
    border: 1px solid #000;
    border-radius: .5em;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .6);
}

div.dtr-modal div.dtr-modal-content {
    position: relative;
    padding: 1em;
}

div.dtr-modal div.dtr-modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 12;
}

div.dtr-modal div.dtr-modal-close:hover {
    background-color: #eaeaea;
}

div.dtr-modal div.dtr-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0, .6);
}

@media screen and (max-width:767px) {
    div.dtr-modal div.dtr-modal-display {
        width: 95%;
    }
}

.dataTables_wrapper {
    color: rgba(255, 255, 255, .8);
    width: auto;
    height: auto;
    margin: 0 0 32px 8px;
    padding: 0;
    display: block;
    position: relative;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    box-sizing: border-box;
    font-family: "Helvetica";
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 767px) {
    .dataTables_wrapper {
        background-color: rgba(25, 25, 25, .8);
    }
}

table.dataTable tbody tr,
table.dataTable.display tbody tr.odd,
table.dataTable.display tbody tr.even,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child {
    background: rgba(0, 0, 0, 0);
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.display tbody tr.odd>.sorting_2,
table.dataTable.display tbody tr.even>.sorting_2,
table.dataTable.display tbody tr.odd>.sorting_3,
table.dataTable.display tbody tr.even>.sorting_3 {
    background: rgba(255, 255, 255, .05);
}

table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.odd:focus,
table.dataTable.display tbody tr.even:hover,
table.dataTable.display tbody tr.even:focus {
    background: rgba(50, 50, 50, 1);
}

table.dataTable.display thead th {
    color: rgba(255, 255, 255, .8);
    text-align: left;
}

table.dataTable.display thead th,
table.dataTable.display thead td {
    margin: 0;
    padding: 8px 20px 8px 8px;
    border-bottom: 1px solid rgba(100, 100, 100, 1);
}

table.dataTable.display tbody td {
    margin: 0;
    padding: 4px;
    border-top: 1px solid rgba(50, 50, 50, 1);
}

table.dataTable.display td.details {
    text-align: center;
}

table.dataTable.display tbody td i[class] {
    width: 18px;
    color: rgba(255, 255, 255, .4);
    text-align: center;
    position: relative;
    margin-right: 6px;
}

table.dataTable.display tbody td i[class]:hover,
table.dataTable.display tbody td i[class]:focus {
    color: rgba(255, 255, 255, .5);
}

table.dataTable.display tbody td i[class] img {
    top: auto;
    left: 22px;
    bottom: 24px;
    width: 200px;
    height: 294px;
    border: 1px solid rgba(50, 50, 50, 1);
    margin: 0;
    padding: 0;
    z-index: 2;
    display: block;
    position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 1);
}

table.dataTable.display tbody td i[class]:hover img,
table.dataTable.display tbody td i[class]:focus img {
    visibility: visible;
}

@media screen and (max-width:639px) {
    table.dataTable.display tbody td i[class] img {
        width: 132px;
        height: 194px;
    }
}

table.dataTable.display td a:hover,
table.dataTable.display td a:focus {
    text-decoration: underline;
    cursor: pointer;
}

table.dataTable>tbody>tr.child ul.dtr-details>li,
table.dataTable>tbody>tr.child ul.dtr-details>li:first-child {
    margin: 0;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(50, 50, 50, 1);
}

table.dataTable>tbody>tr.child ul.dtr-details>li:hover,
table.dataTable>tbody>tr.child ul.dtr-details>li:focus {
    background: rgba(50, 50, 50, 1);
}

table.dataTable>tbody>tr.child span.dtr-title {
    min-width: 100px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child {
    padding-left: 34px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before {
    top: auto;
    left: 8px;
    border: 2px solid rgba(100, 100, 100, 1);
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-radius: 0;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before {
    background: rgba(100, 100, 100, 1);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_credits {
    color: rgba(255, 255, 255, .9);
    margin: 0;
    padding: 8px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: rgba(255, 255, 255, .8) !important;
    margin: 0;
    padding: 8px 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: rgba(255, 255, 255, .4) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-shadow: none;
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: rgba(50, 50, 50, 1);
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: rgba(0, 0, 0, 1) !important;
    border: none;
    background: rgba(210, 210, 210, 1);
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    width: auto;
    height: 24px;
    color: rgba(0, 0, 0, 1);
    border: none;
    margin: 0;
    padding: 2px 4px;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    background: rgba(210, 210, 210, 1);
    box-sizing: border-box;
    font-family: "Helvetica";
    font-weight: 400;
    line-height: normal;
}

.dataTables_wrapper .dataTables_filter input {
    width: 170px;
    line-height: 20px;
    margin-left: 8px;
}