body,
html,
a,
.filter-label {
    color: #565656;
    font-family: inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    -webkit-text-size-adjust: none;
}

a,
a:visited {
    color: #565656;
    text-decoration: underline;
    text-decoration-color: #28a745;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

ul {
    padding-inline-start: 0;
}

li {
    display: inline;
}

li i {
    margin: 0 5px;
}

li a,
li a:visited {
    color: #565656;
}

li:nth-child(2n) {
    margin: 0 3px;
}

li:last-child {
    display: block;
    font-size: 13px;
    margin-left: 0;
}

li:last-child i {
    margin-left: 0;
}

.fa-twitter:hover,
.fa-youtube:hover,
.fa-github:hover {
    color: #28a745;
}

.textfield {
    color: #565656;
    border: 2px solid #565656;
    background-color: #fff;
    height: 44px;
}

.textfield:hover,
.textfield:focus,
.textfield:active {
    color: #565656;
    border: 2px solid #28a745 !important;
}

.textfield:focus::-webkit-input-placeholder,
.textfield:focus::placeholder,
.textfield:hover::-webkit-input-placeholder,
.textfield:hover::placeholder,
.textfield:active::-webkit-input-placeholder,
.textfield:active::placeholder,
.textfield::-webkit-input-placeholder,
.textfield::placeholder {
    color: #565656 !important;
    opacity: 1;
}

.btn {
    border: 1px solid #28a745;
    color: #28a745;
    background-color: #fff;
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .btn:hover {
        color: #fff;
        text-decoration: none;
        background-color: #28a745
    }
}

.btn:focus {
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, .4)
}

.btn.active,
.btn:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    color: #fff;
    background-color: #28a745
}

.btn:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 0 0 2px rgba(40, 167, 69, .4)
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .7;
    color: #28a745;
    background-color: #fff
}

.btn--primary {
    color: #28a745;
    border-color: #28a745;
    background-color: #fff;
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .btn--primary:hover {
        background-color: #28a745
    }
}

.btn--primary:focus {
    box-shadow: 0 0 0 2px rgba(40, 167, 69, .4)
}

.btn--primary.active,
.btn--primary:active {
    background-color: #28a745
}

.btn--primary:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 0 0 2px rgba(40, 167, 69, .4)
}

.btn--primary:disabled {
    color: #28a745;
    background-color: #fff;
}

.filters-group {
    margin-block-end: 1em;
}

.btn .fa-arrow-down,
.btn .fa-arrow-up {
    display: none;
}

.active .fa-arrow-down,
.active .fa-arrow-up {
    display: initial;
}

b,
strong {
    font-weight: bold;
}

.picture-item__inner {
    background: #fff;
}

.picture-item__details {
    background-color: #ecf0f1;
}

@media screen and (min-width: 768px) {
    .row {
        max-width: 1235px;
    }
}

.darkmode--activated,
.darkmode--activated a,
.darkmode--activated b,
.darkmode--activated i,
.darkmode--activated p,
.darkmode--activated li,
.darkmode--activated figcaption .darkmode--activated strong,
.darkmode--activated li a,
.darkmode--activated li a:visited {
    color: #fff;
}

.darkmode--activated input {
    background-color: #121212;
}

.darkmode--activated input.textfield {
    color: #f8f8ff;
    border: 2px solid #565656;
    background-color: #333;
}

.darkmode--activated input.textfield:hover,
.darkmode--activated input.textfield:focus,
.darkmode--activated input.textfield:active {
    border: 2px solid #28a745 !important;
    background-color: #333;
}

.darkmode--activated input.textfield:focus::-webkit-input-placeholder,
.darkmode--activated input.textfield:focus::placeholder,
.darkmode--activated input.textfield:hover::-webkit-input-placeholder,
.darkmode--activated input.textfield:hover::placeholder,
.darkmode--activated input.textfield:active::-webkit-input-placeholder,
.darkmode--activated input.textfield:active::placeholder,
.darkmode--activated input.textfield::-webkit-input-placeholder,
.darkmode--activated input.textfield::placeholder {
    color: #fff !important;
    opacity: 1;
}

.darkmode--activated .picture-item__inner {
    background: #121212;
}

.darkmode--activated .picture-item__details {
    background-color: #333;
}

.darkmode--activated .btn {
    border: 1px solid #28a745;
    color: #fff;
    background-color: #333;
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .darkmode--activated .btn:hover {
        color: #fff;
        background-color: #28a745
    }
}

.darkmode--activated .btn:focus {
    box-shadow: 0 0 0 2px rgba(40, 167, 69, .4)
}

.darkmode--activated .btn.active,
.darkmode--activated .btn:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    color: #fff;
    background-color: #28a745
}

.darkmode--activated .btn:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 0 0 2px rgba(40, 167, 69, .4)
}

.darkmode--activated .btn:disabled {
    opacity: .7;
    color: #fff;
    background-color: #333
}

.darkmode--activated .btn--primary {
    color: #fff;
    border-color: #28a745;
    background-color: #333;
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .darkmode--activated .btn--primary:hover {
        background-color: #28a745
    }
}

.darkmode--activated .btn--primary:focus {
    box-shadow: 0 0 0 2px rgba(40, 167, 69, .4)
}

.darkmode--activated .btn--primary.active,
.darkmode--activated .btn--primary:active {
    background-color: #28a745
}

.darkmode--activated .btn--primary:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 0 0 2px rgba(40, 167, 69, .4)
}

.darkmode--activated .btn--primary:disabled {
    color: #fff;
    background-color: #333;
}

.darkmode-toggle {
    bottom: 29px !important;
    right: 29px !important;
    border: 2px solid #28a745 !important;
    z-index: 1;
}