/* Main css and Shuffle css overwrite */
:root {
    --dark-bg-color: #121212;
    --dark-color: #181818;
    --dark-gray-border-color: #565656;
    --dark-gray-color: #333333;
    --dark-rgba-color: 24, 24, 24;
    --green-color: #28A745;
    --green-rgba-color: 40, 167, 69;
    --light-gray-bg-color: #EDEDED;
    --light-gray-color: #DCDCDC;
    --red-color: #FF3A19;
    --white-color: #FFFFFF;
}

body,
html,
a,
.filter-label {
    color: var(--dark-color);
    font-family: inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    -webkit-text-size-adjust: none;
}

a,
a:visited {
    color: var(--dark-color);
    text-decoration: underline;
    text-decoration-color: var(--green-color);
    text-decoration-thickness: 2px;
    cursor: pointer;
}

ul {
    padding-inline-start: 0;
}

li {
    display: inline;
}

li i,
li span i {
    margin: 0 7px;
}

li a,
li a:visited {
    color: var(--dark-color);
}

.gridContainer {
    margin-bottom: 24px;
}

#inputToggle,
.criticButton input,
.usersAllocine input {
    display: none;
}

#inputToggle+label:before,
.criticButton input+label:before,
.usersAllocine input+label:before {
    font-family: FontAwesome;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 3px;
}

#inputToggle+label:before,
.criticButton input+label:before,
.usersAllocine input+label:before {
    content: "\f096";
}

#inputToggle:checked+label:before,
.criticButton input:checked+label:before,
.usersAllocine input:checked+label:before {
    content: "\f046";
}

#secondLi {
    margin: 0 2px 0 4px;
}

#shortcut {
    font-size: 11px;
    margin-left: 8px;
}

#typewriter,
#menu li {
    display: block;
    font-size: 13px;
    margin-left: 0;
}

.displayFlexStart {
    justify-content: flex-start;
}

.displayFlexEnd {
    justify-content: flex-end;
    margin: 0 0 0 auto;
}

.displayNone {
    display: none;
}

div[role=menu] {
    margin: 0 7em;
}

div[role=menu]>button {
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    margin: 0 5px 5px 0;
    border: 1px solid var(--green-color);
    color: var(--white-color);
    background-color: var(--dark-color);
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    div[role=menu]>button:hover {
        color: var(--white-color);
        background-color: rgba(var(--green-rgba-color), .25);
    }
}

div[role=menu]>button:focus {
    box-shadow: 0;
}

div[role=menu]>button.active,
div[role=menu]>button:active {
    box-shadow: 0;
    color: var(--white-color);
    background-color: var(--green-color)
}

div[role=menu]>button:focus.active {
    box-shadow: 0;
}

div[role=menu]>button:disabled {
    color: var(--white-color);
    background-color: var(--dark-color);
}

.fa-twitter:hover,
.fa-youtube:hover,
.fa-github:hover,
.fa-sun:hover,
.fa-moon:hover,
.fa-sliders-h:hover,
.fa-times-circle:hover {
    cursor: pointer;
    color: var(--green-color);
}

.textfield {
    color: var(--dark-color);
    border: 2px solid var(--dark-gray-border-color);
    background-color: var(--light-gray-color);
    height: 44px;
}

.textfield:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(var(--green-rgba-color), .25);
}

.textfield:hover,
.textfield:focus,
.textfield:active {
    color: var(--dark-color);
    border: 2px solid var(--green-color);
}

.textfield:focus::-webkit-input-placeholder,
.textfield:focus::placeholder,
.textfield:hover::-webkit-input-placeholder,
.textfield:hover::placeholder,
.textfield:active::-webkit-input-placeholder,
.textfield:active::placeholder,
.textfield::-webkit-input-placeholder,
.textfield::placeholder {
    color: var(--dark-color);
    opacity: 1;
}

.btn {
    border: 1px solid var(--green-color);
    color: var(--dark-color);
    background-color: var(--light-gray-color);
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .btn:hover {
        color: var(--white-color);
        text-decoration: none;
        background-color: rgba(var(--green-rgba-color), .25);
    }
}

.btn:focus {
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.btn.active,
.btn:active {
    box-shadow: inset 0 1px 2px rgba(var(--dark-rgba-color), .25);
    color: var(--white-color);
    background-color: var(--green-color)
}

.btn:focus.active {
    box-shadow: inset 0 1px 2px rgba(var(--dark-rgba-color), .25), 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .7;
    color: var(--green-color);
    background-color: var(--light-gray-color);
}

.btn--primary {
    color: var(--dark-color);
    border-color: var(--green-color);
    background-color: var(--light-gray-color);
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .btn--primary:hover {
        background-color: rgba(var(--green-rgba-color), .25);
    }
}

.btn--primary:focus {
    box-shadow: 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.btn--primary.active,
.btn--primary:active {
    background-color: var(--green-color)
}

.btn--primary:focus.active {
    box-shadow: inset 0 1px 2px rgba(var(--dark-rgba-color), .25), 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.btn--primary:disabled {
    color: var(--green-color);
    background-color: var(--light-gray-color);
}

.filters-group {
    margin: 1em 2em 1em 0;
    overflow-x: scroll;
}

.genreFilter,
.periodFilter,
.sortFilter {
    overflow-x: scroll;
    white-space: nowrap;
}

.filters-group .btn {
    float: unset;
}

.picture-item__details {
    overflow-x: scroll;
}

.picture-item__tagsNew {
    flex-shrink: 1;
    text-align: right;
    margin: 0;
}

.picture-item__tagsMargin {
    margin: 0 0 0 15px;
}

.sortFilter {
    margin-right: 0;
}

.period-options {
    border-radius: 3px !important;
}

.btn .fa-arrow-down,
.btn .fa-arrow-up {
    display: none;
}

.active .fa-arrow-down,
.active .fa-arrow-up {
    display: initial;
}

b,
strong {
    font-weight: bold;
}

.picture-item__inner {
    background: var(--light-gray-bg-color);
}

.picture-item__details {
    background-color: var(--light-gray-color);
}

/* Mobile view overwrite css */
@media screen and (min-width: 768px) {
    .row {
        max-width: 1235px;
    }
}

@media screen and (min-width: 768px) and (max-width: 897px) {
    .genreFilter {
        max-width: 213px;
    }
}

@media screen and (min-width: 898px) {
    .periodFilter {
        min-width: 213px;
    }

    .sortFilter {
        min-width: 270px;
    }
}

@media screen and (min-width: 768px) and (max-width: 821px) {

    li i,
    li span i {
        margin: 0 4px;
    }
}

@media screen and (max-width: 767px) {
    .filters-group {
        margin: 0 0 1em;
    }
}

@media screen and (max-width: 379px) {
    #secondLi {
        margin-right: 100%;
        visibility: hidden;
    }

    .fa-twitter {
        margin: 10px 0;
    }
}

/* Toggles css */
.tg-list-item span {
    color: var(--white-color);
    display: block;
    font-size: 15px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: var(--green-color);
    text-decoration-thickness: 2px;
}

.tg-list-item {
    margin: 0 10em;
    display: inline-flex !important;
}

@media screen and (max-width: 810px) {

    .tg-list-item,
    div[role=menu] {
        margin: 0 2em;
    }
}

.tg-list-item label {
    margin: -4px 0 0 20px;
}

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-flip+.tgl-btn {
    padding: 6px;
    transition: all 0.2s ease;
    perspective: 100px;
}

.tgl-flip+.tgl-btn:after,
.tgl-flip+.tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}

.tgl-flip+.tgl-btn:after {
    content: attr(data-tg-on);
    background: var(--green-color);
    transform: rotateY(-180deg);
}

.tgl-flip+.tgl-btn:before {
    background: var(--red-color);
    content: attr(data-tg-off);
}

.tgl-flip+.tgl-btn:active:before {
    transform: rotateY(-20deg);
}

.tgl-flip:checked+.tgl-btn:before {
    transform: rotateY(180deg);
}

.tgl-flip:checked+.tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: var(--green-color);
}

.tgl-flip:checked+.tgl-btn:active:after {
    transform: rotateY(20deg);
}

/* Darkmode overwrite css */
.darkmode--activated,
.darkmode--activated a,
.darkmode--activated b,
.darkmode--activated i,
.darkmode--activated p,
.darkmode--activated li,
.darkmode--activated figcaption .darkmode--activated strong,
.darkmode--activated li a,
.darkmode--activated li a:visited,
.darkmode--activated input {
    color: var(--white-color);
}

.darkmode--activated input {
    background-color: var(--dark-color);
}

.darkmode--activated input.textfield {
    color: var(--white-color);
    border: 2px solid var(--dark-gray-border-color);
    background-color: var(--dark-gray-color);
}

.darkmode--activated input.textfield:hover,
.darkmode--activated input.textfield:focus,
.darkmode--activated input.textfield:active {
    border: 2px solid var(--green-color);
    background-color: var(--dark-gray-color);
}

.darkmode--activated input.textfield:focus::-webkit-input-placeholder,
.darkmode--activated input.textfield:focus::placeholder,
.darkmode--activated input.textfield:hover::-webkit-input-placeholder,
.darkmode--activated input.textfield:hover::placeholder,
.darkmode--activated input.textfield:active::-webkit-input-placeholder,
.darkmode--activated input.textfield:active::placeholder,
.darkmode--activated input.textfield::-webkit-input-placeholder,
.darkmode--activated input.textfield::placeholder {
    color: var(--white-color);
    opacity: 1;
}

.darkmode--activated .picture-item__inner {
    background: var(--dark-bg-color);
}

.darkmode--activated .picture-item__details {
    background-color: var(--dark-gray-color);
}

.darkmode--activated .btn {
    border: 1px solid var(--green-color);
    color: var(--white-color);
    background-color: var(--dark-gray-color);
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .darkmode--activated .btn:hover {
        color: var(--white-color);
        background-color: rgba(var(--green-rgba-color), .25);
    }
}

.darkmode--activated .btn:focus {
    box-shadow: 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.darkmode--activated .btn.active,
.darkmode--activated .btn:active {
    box-shadow: inset 0 1px 2px rgba(var(--dark-rgba-color), .25);
    color: var(--white-color);
    background-color: var(--green-color)
}

.darkmode--activated .btn:focus.active {
    box-shadow: inset 0 1px 2px rgba(var(--dark-rgba-color), .25), 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.darkmode--activated .btn:disabled {
    opacity: .7;
    color: var(--white-color);
    background-color: var(--dark-gray-color)
}

.darkmode--activated .btn--primary {
    color: var(--white-color);
    border-color: var(--green-color);
    background-color: var(--dark-gray-color);
}

@media (-moz-touch-enabled:0),
(pointer:fine) {
    .darkmode--activated .btn--primary:hover {
        background-color: rgba(var(--green-rgba-color), .25);
    }
}

.darkmode--activated .btn--primary:focus {
    box-shadow: 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.darkmode--activated .btn--primary.active,
.darkmode--activated .btn--primary:active {
    background-color: var(--green-color)
}

.darkmode--activated .btn--primary:focus.active {
    box-shadow: inset 0 1px 2px rgba(var(--dark-rgba-color), .25), 0 0 0 2px rgba(var(--green-rgba-color), .25)
}

.darkmode--activated .btn--primary:disabled {
    color: var(--white-color);
    background-color: var(--dark-gray-color);
}